input[type="radio"]{
    appearance: none ;
    width: 12px ;
    height: 12px ;
    border: 1px solid #fff;
    border-radius: 50% ;
    background-color: transparent;
    cursor: pointer; 
    transition: background-color 0.2s ease, transform 0.2s ease;
}
input[type="radio"]:checked{
    background-color: #ffffff; 
   
}

input[ type="text"]{
    all: unset;
}
.searchInputText::placeholder {
    font-family: "Inter" serif;
    color: #9e9c98;
    font-size: 20px;
    font-weight: 500;
  }
  